# phpstorm project files
.idea

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

deploy-config.php
/tests/
/config/db.php
/config/mail.php
