html,
body {
    font-family: Arial, sans-serif !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.wrap > .map-container {
    padding-top: 50px;
}

.wrap > .container-fluid {
    padding: 60px 15px 20px;
}

/* =============================  Customise Bootstrap =============================*/
/* --------------------  Headers ------------------------*/
h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
h1 {
    font-size: 18px;
    font-weight: bold;
}
h2 {
    font-size: 16px;
    font-weight: bold;
}
h3 {
    font-size: 14px;
    font-weight: bold;
}
a {
    color: #137ac9;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -5px;
    padding: 0 0 5px;
}

.wrap > .container-fluid {
    padding: 60px 15px 20px;
}


/* --------------------  Navbar ------------------------*/

.navbar-inverse {
    background-color: #045772;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 16px;
    padding-top: 16px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav .open > a {
    color: #fff;
    background-color: #006666;
}
.navbar-inverse .navbar-nav .open > a:focus,
.navbar-inverse .navbar-nav .open > a:hover,
.navbar-inverse .navbar-nav .open > a:active {
    color: #fff;
    background-color: #006666;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #045772;
}

/* --------------------  Table ------------------------*/

.table-striped > thead > tr > th {
    background-color: #f9f9f9;
}
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e113";
}

a.desc:after {
    content: "\e114";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}


/* --------------------- breadcrumb ---------------------*/
.breadcrumb {
    margin-bottom: 5px;
    padding: 7px 0;
    background-color: #fff; }

.breadcrumb li {
    max-width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.breadcrumb li:last-child, .breadcrumb li:last-child a {
    font-size: 16px;
    font-weight: 600;
    color: #333; }
/* =============================  /Customise Bootstrap =============================*/

/* =============================  YII2 CRUD Customise =============================*/
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.auth-editor {
    margin-top: 10px;
}

.auth-editor select {
    width: 100%;
    height: 350px;
}

.auth-editor label {
    font-weight: 600;
}

.btn-create {
    margin-bottom: 5px;
    margin-right: 5px;
}

.form-horizontal {
    margin-top: 25px;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-group {
    margin-bottom: 3px;
}

.modal-header {
    padding-bottom: 0;
    border: 0;
}

.modal-body {
    padding: 0 20px 20px 20px;
}

.modal-body h1 {
    margin-top: 0;
}

.modal-body .scroll {
    margin-bottom: 20px;
    padding: 15px;
    max-height: 550px;
    overflow-y: auto;
}

.required > label:after {
    content: " *";
    color: #c55;
}

.grid-view table {
    color: #000;
    margin-top: 5px;
    margin-bottom: 0;
}

.grid-view table thead tr th a:after {
    font-size: 14px;
    padding-left: 4px;
}

.grid-view table tbody tr.quick td:first-child {
    border-left: 5px solid #a52a2a;
}

.grid-view table tbody tr.selected td {
    background-color: #ffffdd;
}

.grid-view table tbody tr td {
    max-width: 400px;
}

.grid-view table tbody tr td.tbl-action {
    font-size: 14px;
    width: 1%;
}

.grid-view table tfoot {
    font-weight: bold;
}

.grid-view {
    margin-top: 5px;
}

.grid-view .action-column {
    width: 1%;
}

.grid-view .page-panel {
    position: fixed;
    bottom: 0;
}

.grid-view .navbar-fixed-bottom {
    background: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 50px;
}

.grid-view .navbar-fixed-bottom .summary {
    float: left;
    padding-top: 15px;
}

.grid-view .navbar-fixed-bottom .pagination {
    float: right;
    margin: 0;
    padding-top: 8px;
}

.detail-view {
    margin-top: 5px;
}

.detail-view th {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select2 {
    min-width: 195px !important;
}

.help-block {
    margin-top: 2px;
    margin-bottom: 3px;
}

/* Search Form (filters) */
.search .search-field.active input, .search .search-field.active .select2-selection {
    background-color: #ffffdd;
}

.search > div {
    padding-left: 0;
    padding-right: 4px;
}

/* =============================  /YII2 CRUD Customise =============================*/

/* Site Login */
.site-login {
    padding-top: 80px;
}

.site-login h1 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 500;
}


#login-form .form-group .form-control {
    height: auto;
    padding: 10px 10px;
    font-size: 14px;
    margin-bottom: 15px;
}

#login-form .form-group button {
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

/* Search Form (filters) */

.search .search-field.active input, .search .search-field.active .select2-selection {
    background-color: #ffffdd; }

.search > div {
    padding-left: 0;
    padding-right: 4px;
}

.tab-content {
    margin-top: 15px;
}

.auth-editor {
    margin-top:10px
}

.auth-editor select {
    height:350px;
    width:100%;
    overflow:auto;
    margin-top:7px
}
.auth-editor label{
    font-weight:600
}

/* --------------- Skill Tree Main Page --------------*/

.training_repeat {
    position: fixed;
    bottom: 106px;
    right: 16px;
    pointer-events: auto;
    z-index: 198;
}

.skill-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 324px;
    position: relative;
}
.skill-tree {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tree-box {
    max-width: 440px;
    padding: 0 16px;
    width: 100%;
}

.tree-section {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.tree-row {
    display: grid;
    grid-auto-columns: calc((100% - 24px)/3);
    grid-auto-flow: column;
    grid-column-gap: 12px;
    justify-content: center;
    padding: 16px 12px;
}

.tree-node {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    max-width: 98px;
    position: relative;
}

.tree-node-click {
    cursor: pointer;
    -webkit-focus-ring-color: none
}

.tree-node-click:focus {
    outline: none;
}

.tree-node-inner {
    align-items: center;
    color: #3c3c3c;
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: top;
}

.tree-node-letter-block {
    padding-top: 100%;
    position: relative;
}

.tree-node-letter-ring {
    border-radius: 50%;
    height: 68%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 68%;
    background-color: #e5e5e5;
}

.level-1 {
    background-color: #ce82ff;
}

.level-2 {
    background-color: #1cb0f6;
}

.level-3 {
    background-color: #78c800;
}

.level-full {
    background-image: linear-gradient(135deg,#ffd900,#ffd900 26%,#ffc800 0,#ffc800 39%,#ffd900 0,#ffd900 52%,#ffc800 0,#ffc800 57%,#ffd900 0,#ffd900 78%,#ffc800 0,#ffc800 90%,#ffd900 0,#ffd900);
    background-color: #ffd900;
}

.tree-node-letter {
    font-family: 'Alice', serif;
    font-size: 45px;
    color: #045772;
}

.tree-node-corona{
    bottom: -3%;
    height: 47%;
    pointer-events: none;
    position: absolute;
    right: -7%;
    width: 47%;
}

.tree-node-corona-img {
    color: transparent;
    display: block;
    height: 100%;
    width: 100%;
}

.tree-node-corona-level-text {
    color: #cd7900;
    font-weight: 700;
    left: 50%;
    margin-top: 2.5%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.tree-node-outer-ring {
    display: flex;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

.tree-node-outer-ring-inner {
    color: #999;
    display: inline-block;
    font-size: 15px;
    position: relative;
    text-align: center;
}

.tree-node-outer-ring-svg {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: rotate(135deg);
}


.level-box {
    max-width: 440px;
    padding: 0 16px;
    width: 100%;
}

.level-section {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
}

.level-line-section {
    margin-bottom: -45px;
    margin-top: 45px;
    width: 100%;
}

.level-line {
    margin: 0;
    width: 100%;
}

/*.level-img-section {
    color: #3c3c3c;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
}

height: 90px;
margin-left: auto;
margin-right: auto;
width: 90px;
position: relative;
cursor: pointer;
*/
